# Rebar3 build artifacts
.rebar3
_build
_checkouts
_vendor
.rebar

# Erlang artifacts
*.o
*.beam
*.plt
ebin
erl_crash.dump
rebar3.crashdump
.erlang.cookie

# Test artifacts
.eunit
TEST-*.xml
*.coverdata
cover/

# Logs
log
logs

# Editor artifacts
*.swp
*.swo
*~
.idea
*.iml

# OS artifacts
.DS_Store
Thumbs.db
